package pages

import (
	"github.com/alextilot/golang-htmx-chatapp/ui/layouts"
	"github.com/alextilot/golang-htmx-chatapp/ui/components"
	"github.com/alextilot/golang-htmx-chatapp/ui/partials"
)

templ ChatroomPage() {
	@layouts.MainLayout() {
		@partials.NavigationBar()
		<main class="h-dvh">
			@components.Chatroom()
		</main>
	}
}
