
package layouts

templ Document(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<!-- HTMX -->
			<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
			<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
			<script src="https://unpkg.com/htmx.org/dist/ext/debug.js" defer></script>
			<script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
			<!-- Styles -->
			<link rel="stylesheet" type="text/css" href="/static/css/style.dist.css"/>
			<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico"/>
		</head>
		<body class="flex flex-col min-h-screen bg-base-100 text-base-content">
			{ children... }
		</body>
	</html>
}
