package partials

var Themes = []string{"light", "dark", "cupcake", "valentine", "halloween", "fantasy", "dracula"}

templ ThemeControllerDropdown() {
	<div class="dropdown" role="menu" aria-label="Theme selector">
		<button
			class="btn m-1 flex items-center justify-between"
			tabindex="0"
			aria-haspopup="listbox"
			aria-expanded="false"
		>
			Theme
			<svg
				width="12px"
				height="12px"
				class="inline-block h-2 w-2 fill-current opacity-60 ml-1"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 2048 2048"
			>
				<path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
			</svg>
		</button>
		<ul
			tabindex="0"
			class="dropdown-content bg-base-300 rounded-box z-50 w-52 p-2 shadow-2xl"
			role="listbox"
		>
			for _, theme := range Themes {
				<li>
					<input
						type="radio"
						name="theme-dropdown"
						class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
						aria-label={ theme }
						value={ theme }
						data-set-theme={ theme }
						role="option"
					/>
				</li>
			}
		</ul>
	</div>
}
