package forms

import (
	"github.com/alextilot/golang-htmx-chatapp/web/components/form"
	"github.com/alextilot/golang-htmx-chatapp/internal/validation"
)

templ SignupForm(fieldErrors validation.FieldErrors) {
	<div id="register-form" class="card shrink-0 w-full shadow-2xl bg-base-100 p-8" hx-ext="response-targets, debug">
		<h1 class="text-2xl font-semibold text-center">Signup</h1>
		<form
			class="card-body space-y-4"
			hx-boost="true"
			action="/signup"
			method="post"
			hx-target="#register-form"
			hx-target-error="#register-form"
			hx-swap="outerHTML"
			hx-indicator="#spinner"
		>
			@components.FormInput(
				templ.Attributes{
					"type":         "text",
					"placeholder":  "Username",
					"name":         "username",
					"autocomplete": "username",
				},
				fieldErrors["username"],
			)
			@components.FormInput(
				templ.Attributes{
					"type":         "password",
					"placeholder":  "Enter password",
					"name":         "password",
					"autocomplete": "password",
				},
				fieldErrors["password"],
			)
			@components.FormInput(
				templ.Attributes{
					"type":         "password",
					"placeholder":  "Confirm password",
					"name":         "repeatPassword",
					"autocomplete": "password",
				},
				fieldErrors["password"],
			)
			<div class="form-control mt-6">
				@components.FormButton("Sign up")
				<span hx-disinherit="*">
					Already have an account ?
					<a href="/login" class="text-blue-600 hover:text-blue-800 hover:underline">Login</a>
				</span>
			</div>
			@components.FormError(fieldErrors[validation.FieldRequest])
			@components.FormError(fieldErrors[validation.FieldServer])
			@components.FormError(fieldErrors[validation.FieldGlobal])
			<div id="response-div"></div>
		</form>
	</div>
}
