package pages

import (
	"github.com/alextilot/golang-htmx-chatapp/web/layouts"
	"github.com/alextilot/golang-htmx-chatapp/web/components/chat"
)

templ ChatroomPage() {
	@layouts.LayoutFullHeight("Chat room", false) {
		@chat.Chatroom()
	}
}
