package pages

import (
	"github.com/alextilot/golang-htmx-chatapp/web/layouts"
	"github.com/alextilot/golang-htmx-chatapp/internal/routes"
)

templ HomePage() {
	@layouts.LayoutBase("Chatter — Home", true) {
		<div class="hero bg-base-200">
			<div class="h-full hero">
				<div class="hero-content flex-col lg:flex-row-reverse">
					<img src="static/images/android-chrome-512x512.png" class="max-w-sm rounded-lg"/>
					<div>
						<h1 class="text-5xl font-bold">Chatter</h1>
						<p class="py-6">Conect in real-time with firend. Create an account or login and chatter away!</p>
						<div class="space-x-4">
							<a href={ routes.Routes.LoginPage.Path } class="btn btn-primary btn-lg">Chat Now!</a>
							<a href={ routes.Routes.AboutPage.Path } class="btn btn-outline btn-lg">About</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
}
