package pages

import (
	"github.com/alextilot/golang-htmx-chatapp/web/layouts"
	"github.com/alextilot/golang-htmx-chatapp/web/forms"
	"github.com/alextilot/golang-htmx-chatapp/internal/apperr"
)

templ SignupPage() {
	@layouts.LayoutBase("Chatter — Sign up", true) {
		<main class="w-full h-full">
			<div class="h-full relative flex flex-col justify-center items-center">
				<div class="w-full m-auto lg:max-w-xl">
					@forms.SignupForm(apperr.NewFieldErrors())
				</div>
			</div>
		</main>
	}
}
