package form

import (
	"github.com/alextilot/golang-htmx-chatapp/web/utils"
)

// Textarea renders a textarea with errors
templ Textarea(attrs templ.Attributes, fieldErrors []string) {
	{{
		classes := utils.HasErrorClass("textarea textarea-bordered w-full", fieldErrors, "textarea-error")
		label, attrs := utils.ExtractAttribute[string](attrs, "label")
	}}
	<div class="form-control">
		if label != "" {
			<label class="label">
				<span class="label-text">{ label }</span>
			</label>
		}
		<textarea { attrs... } class={ classes }></textarea>
		@Error(fieldErrors)
	</div>
}
