package components

templ FormRadioGroup(attrs templ.Attributes, options []string, fieldErrors []string) {
	{{
		name, attrs := ExtractAttribute[string](attrs, "name")
		groupLabel, attrs := ExtractAttribute[string](attrs, "label")
	}}
	<div class="form-control">
		if groupLabel != "" {
			<label class="label">
				<span class="label-text">{ groupLabel }</span>
			</label>
		}
		for _, option := range options {
			<label class="label cursor-pointer">
				<input type="radio" name={ name } value={ option } class="radio"/>
				<span class="label-text ml-2">{ option }</span>
			</label>
		}
		@FormError(fieldErrors)
	</div>
}
