package components

import (
	"github.com/alextilot/golang-htmx-chatapp/ui/utils"
)

templ FormError(fieldErrors []string) {
	if utils.FieldHasErrors(fieldErrors) {
		<p class="text-error text-sm mt-1">
			{ utils.JoinErrors(fieldErrors) }
		</p>
	}
}
